

.SideDrawer a{
    color: black;
    text-decoration: none;
    list-style-type: none;
}

.SideDrawer{
    width: 70%;
    height: 100vh;
    background-color: rgb(173, 198, 173);
    position: fixed;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    padding-top: 40px;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translateX(-100%);
    transition: all .3s ease-out;
}

.SideDrawer p {
    text-align: center;
    padding: 10px;
    user-select: none;
    margin: 0;
}

.show{
    transform: translateX(0);
}

.SideDrawer ul {
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.SideDrawer ul li {
    margin-top: 10px;
    width: 90%;
    background-color: rgb(255 255 255 / 0.2);
    backdrop-filter: blur(10px);
}

.SideDrawer ul li:hover {
    background-color: rgb(255 255 255 / 0.7);
    backdrop-filter: blur(10px);
}

.SideDrawer__cartlogo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}