.cartscreen{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 2rem auto;
}

.cartscreen h2{
    margin-bottom: 1rem;
}

.cartscreen__left{
    flex: 0.5;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    height: fit-content;
    padding: 25px;
}

.cartscreen__right{
    flex: 0.3;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    height: fit-content;
}


.cartscreen__right div:last-child{
    border: none;
}

.cartscreen__info p{
    padding: 8px;
}

@media (max-width: 960px) {
    .cartscreen{
        max-width: 800px;
        flex-direction: column;
        gap: 15px;
    }

    .cartscreen__right{
        order: 1;
    }

    .cartscreen__left{
        order: 2;
    }

}
