.homescreen{
    max-width: 1300px;
    margin: 1rem auto;
}

.homescreen__title{
    font-size: 1.5em;
    color: black;
    margin-bottom: 1rem;
    margin-left: 8px;
}

.homescreen__products{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(335px, 1fr));
    margin: 10px;
}
