.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header p {
    margin-bottom:5px;
}

.container {
    width: 100%;
}

.user {
    position: relative;
    height: 100vh;
}

.user_menu {
    display: inline-block;
    position: absolute;
    height: 100%;
    background-color: rgb(173, 198, 173);
    width: 20%;
    padding-top: 70px;
    top: 0;
    bottom: 0;
}

.user_menu p {
    text-align: center;
    padding: 10px;
    user-select: none;
    background-color: rgb(255 255 255 / 0.2);
    backdrop-filter: blur(10px);
}

.user_menu p:hover {
    background-color: rgb(255 255 255 / 0.7);
    backdrop-filter: blur(10px);
}

.user_body {
    max-width: 80%;
    margin-left: auto;
    padding: 20px;
}

@media (max-width : 730px) {
    .user_menu {
        display: none;
    }
    .user_body{
        max-width: 100%;
    }
    .user_option {
        width: 100%;
    }
}

@media (min-width : 730px) {
    .user_option {
        display: none;
    }
}